<title-component [title]='"Add Workday"'/>

<form [formGroup]="form" class="flex flex-wrap justify-start">
    <div class="w-1/8 p-2">
       <label for="date" class="block text-sm font-medium text-gray-700">Fecha</label>
       <input type="date" name="date" id="date" formControlName="date" class="mt-1 block w-full rounded-md border border-gray-500 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
    </div>
    <div class="w-1/8 p-2">
       <label for="codeShift" class="block text-sm font-medium text-gray-700">Tipo de Jornada</label>
       <select name="codeShift" id="codeShift" formControlName="codeShift" class="mt-1 block w-full rounded-md border border-gray-500 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
         <option value="">Seleccione un tipo de jornada</option>
         <option value="RS">Regular Shift</option>
         <option value="O">Overtime</option>
         <option value="DO">Day Off</option>
         <option value="V">Vacation</option>
       </select>
    </div>
    <div class="w-1/8 p-2">
       <label for="timeOfArrival" class="block text-sm font-medium text-gray-700">Hora de Entrada</label>
       <input type="time" name="timeOfArrival" id="timeOfArrival" formControlName="timeOfArrival" class="mt-1 block w-full rounded-md border border-gray-500 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
    </div>
    <div class="w-1/8 p-2">
       <label for="departureTime" class="block text-sm font-medium text-gray-700">Hora de Salida</label>
       <input type="time" name="departureTime" id="departureTime" formControlName="departureTime" class="mt-1 block w-full rounded-md border border-gray-500 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
    </div>
    <div class="w-1/8 p-2">
       <label for="idEmployee" class="block text-sm font-medium text-gray-700">ID</label>
       <input type="number" name="idEmployee" id="idEmployee" formControlName="idEmployee" class="mt-1 block w-full rounded-md border border-gray-500 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
    </div>
    <div class="w-1/8 p-4">
       <button (click)="addWorkday()" [disabled]="form.invalid" class="inline-flex justify-start py-1 px-3 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
         Enviar
       </button>
    </div>
   </form>